<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz2dA_wZo_DEDAYCgoIZ7PYVhwUf3QJmk</string>
	<key>GCM_SENDER_ID</key>
	<string>749568293308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finjan</string>
	<key>PROJECT_ID</key>
	<string>finjan-e1dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>finjan-e1dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749568293308:ios:0a0ca916c8ef584669d3b9</string>
</dict>
</plist>